h1 {
    color: white;
}

body {
    text-align: center;
    font: normal 15pt arial;
    background: rgb(8, 24, 51);
}

section {
    background: white;
    width: 500px;
    padding: 5vh;
    border-radius: 0.5rem;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}